@import "src/App.scss";

header {
  background: #1a1a1a;
  .custom-nav {
    max-width: 1820px;
    width: 100%;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
    .navbar-toggler {
      border: 0;
      padding: 0;
      &:focus {
        outline: none;
      }
      .navbar-toggler-icon {
        background: url(../../../../images/menu-dots.svg) no-repeat;
        width: 7px;
      }
    }
    .navbar-nav {
      align-items: center;
      .nav-link {
        font-size: 16px;
        color: #fff;
        font-weight: 600;
        margin-left: 60px;
        &:first-child {
          margin-left: 0;
        }
        &.profile-pic {
          max-width: 64px;
          max-height: 64px;
          padding: 0;
          overflow: hidden;
          img {
            width: 100%;
            border-radius: 100px;
          }
        }
      }
      .artist-dropdown {
        margin-left: 40px;
        a {
          display: flex;
          align-items: center;
        }
      }
    }
    .dropdown-item {
      &.active, &:active {
        background-color: $clr-green;
      }
    }
    .navbar-text {
      color: #ffffff;
    }
  }
}
.not-for-desktop {
  display: none;
}

@media #{$mid-point-tablet} {
	header {
    .custom-nav {
      .logo-brand {
        @include flex(1);
        text-align: center;
      }
      .not-for-desktop {
        display: block;
        width: 25px;
        img {
          width: 100%;
        }
      }
    }
  }
}