@import '../../App.scss';

.notes-container {
  width: 32px;
  line-height: 38px;
  cursor: pointer;
  position: relative;
  .notes-badge {
    min-width: 20px;
    height: 20px;
    background: #b7ce28;
    color: #fff;
    padding: 0 3px;
    text-align: center;
    line-height: 18px;
    display: inline-block;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    top: -10px;
    right: -5px;
  }
  img {
      width: 100%;
  }
}

.notes-modal {
  &.customArtistModal {
    .modal-dialog {
      .modal-body {
        padding-bottom: 0;
        .notes-modal-container {
          width: 95%;
          margin: 0 auto;
          .existing-notes {
            max-height: 300px;
            overflow-y: auto;
            margin-bottom: 70px;
            .note {
              padding: 20px 20px;
              margin-bottom: 15px;
              background-color: #f6f6f6;
              border-radius: 12px;
              max-width: 90%;
            }
            img {
              width: 230px;
              border-radius: 7px;
            }
          }
          .typeSec {
            display: grid;
            grid-template-columns: 1fr 48px;
            column-gap: 15px;
            @include align-items(flex-end);
            textarea {
              &.form-control {
                border-radius: 48px;
                background-color: #f6f6f6;
                border: 0;
                resize: none;
                height: 48px;
                padding: 15px 20px;
                line-height: normal !important;
              }
            }
            .controlArea {
              margin-bottom: 15px;
              label {
                background-color: #f6f6f6;
                min-width: 48px;
                min-height: 48px;
                border-radius: 48px;
                text-align: center;
                line-height: 48px;
                @include transition(all 0.3s ease-in-out);
                svg {
                  width: 18px;
                  transform: rotate(-45deg);
                }
                &:hover {
                  background-color: #eee;
                }
              }
            }
          }
        }
        // textarea {
        //   &.form-control {
        //     border-radius: 0;
        //     border-width: 1px 0 0 0;
        //     resize: none;
        //     height: 60px;
        //     padding: 10px 20px;
        //     line-height: normal !important;
        //     &:focus {
        //       border-top: 1px solid #ced4da;
        //     }
        //   }
        //   &~.controlArea {
        //     border-top: 1px solid transparent;
        //     padding: 7px 15px;
        //     background-color: #ffffff;
        //     @include transition(all 0.3s ease-in-out);
        //     text-align: right;
        //     label {
        //       svg {    
        //         width: 18px;
        //         transform: rotate(-45deg);
        //       }
        //     }
        //   }
        //   &:focus {
        //     &~.controlArea {
        //       border-top: 1px solid #ced4da;
        //       background-color: #F6F6F6;
        //     }
        //   }
        // }
      }
    }
  }
}