@import '../../../../App.scss';
.musicWrapper {
  .loading {
    width: 50px;
  }
  section {
    margin: 15px 0;
  }
  .section-head {
    margin-bottom: 20px;
  }
  .music-playlist {
    .music-row {
      list-style: none;
      @include flexbox;
      @include align-items(center);
      flex-wrap: wrap;
      li  {
        padding: 10px 7px 10px 10px;
        font-weight: 500;
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);
        line-height: normal;
        width: calc(50% - 10px);
        border-radius: 5px;
        transition: all 0.1s ease-in-out;
        &:after {
          content: '';
          background: url(../../../../images/pencil.svg) no-repeat;
          background-size: 15px;
          width: 20px;
          height: 15px;
          display: inline-block;
          cursor: pointer;
          margin-left: 10px;
        }
        &:nth-child(odd) {
          margin-right: 20px;
        }
        a {
          width: 100%;
          &:hover {
            color: #212121;
          }
        }
        &:hover {
          background-color: #F6F6F6;
        }
      }
    }
  }
}

/***************** POPUP styling *********************/
.customArtistModal  {
  z-index: 1041;
  .modal-dialog {
    max-width: 600px;
    width: 100%;
    .modal-content {
      border-radius: 15px;
      overflow: hidden;
    }
    .modal-header {
      padding: 1.5rem 1rem;
      .modal-title {
        margin: 0 auto;
        font-weight: 600;
        font-size: 28px;
      }
      .close {
        display: none;
      }
    }
    .modal-body {
      padding: 40px 0 25px;
      border-bottom: 1px solid #dee2e6;
      .create-album-modal-container {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        .form-control {
          height: 48px;
          border-radius: 8px;
          &:focus {
            transition: all 0.3s ease-in-out;
            box-shadow: 0 0 5px #c0d72d;
          }
        }
      }
    }
    .modal-footer {
      border: 0;
      padding: 0;
      height: 70px;
      button {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include flex(1);
        border-radius: 0;
        border: 0;
        height: inherit;
        margin: 0;
        &.btn-outline-light {
          &:hover {
            background-color: #F6F6F6;
          }
        }
      }
      .submit {
        img {
          width: 20px;
        }
      }
    }
  }
}

