@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

/*=====  Mixin  ======*/

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}


@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
       -ms-flex-align: $align;
          align-items: $align;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
          -ms-flex: $values;
              flex: $values;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

$phone-potrait-old: "only screen and (max-width : 360px)";
$phone-portrait: "only screen and (max-width : 576px)";
$phone-landscape: "only screen and (max-width : 767px)";
$iphonex-portrait: "only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait)";
$iphonex-landscape: "only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape)";
$iphonexMax-portrait: "only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait)";
$iphonexMax-landscape: "only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape)";
$tab-portrait: "only screen and (max-width : 768px)";
$mid-point-tablet: "only screen and (max-width : 992px)";
$tab-landscape: "only screen and (max-width : 1024px)";
$desktop-start: "only screen and (max-width : 1200px)";


/*=====  Variables  ======*/

$clr-green: hsl(68deg, 68%, 51%);
$clr-green-bright: hsl(68deg, 80%, 55%);
$clr-green-dark: #28a745;
$clr-black: hsl(0deg, 0%, 10%);
$clr-black-light: hsl(0deg, 0%, 50%);
$clr-white: hsl(0deg, 0%, 100%);
$clr-grey: hsl(0deg, 0%, 54%);
$clr-grey-border: hsl(0deg, 0%, 74%);
$clr-grey-light: #eee;
$body-font-family: 'Raleway', sans-serif;
$clr-red: #dc3545;
$clr-red-light: #e26a6a;
$clr-red-light-extra: #e08283;
$clr-blue: #0f0f0f;
$clr-blue-medium: #0056b3;
$clr-blue-light: #007bff;
$clr-orange: #ffc107;

/*=====  Generic style  ======*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	color: $clr-black;
	font-family: $body-font-family;
  overflow-x: hidden;
  overflow-y: auto;
}
.tooltip > div.tooltip-inner {
	background-color: $clr-white !important;
	color: $clr-black !important;
	border-radius: 10px !important;
	padding: 5px 10px;
	box-shadow: 0px 1px 10px #ccc !important;
}
.tooltip.bs-tooltip-top > div.arrow::before {
	border-top-color: $clr-white !important;
	box-shadow: none !important;
}
.tooltip.bs-tooltip-right > div.arrow::before {
	border-right-color: $clr-white !important;
	box-shadow: none !important;
}
button,
input,
select,
label {
	font-family: inherit;
	margin: 0;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none !important;
	}
	&.next {
		color: $clr-black;
		img {
			width: 20px;
			margin-left: 7px;
		}
	}
}

a, .btn {
	transition: all .3s ease;
	color: $clr-black;
	font-family: $body-font-family;
	&.btn-outline-light {
		border-color: $clr-grey-light;
		background-color: transparent;
	}
}

.next-btn {
  width: 100%;
  @include flexbox;
  @include justify-content(flex-end);
  position: absolute;
  top: 15px;
  right: 0;
  padding-right: 50px;
}

/*=====  checkbox  ======*/
.checkbox {
	position: relative;
	padding-left: 2rem;
	input {
		position: absolute;
		opacity: 0;
		height: 0;
		width: 0;
		&:checked~.checkmark {
			background: $clr-green;
			&:after {
				display: block;
			}
		}
	}
	.checkmark {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		height: 21px;
		width: 22px;
		border: 3px solid $clr-green;
		&:after {
			content: "";
			position: absolute;
			display: none;
			left: 6px;
			top: 2px;
			width: 6px;
			height: 11px;
			border: solid #ffffff;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:hover {
			background: $clr-green;
		}
	}
	input~.checkmark {
		border: 2px solid $clr-green;
	}
}

.close-btn {
	box-shadow: rgba(130, 138, 145, 0.5) 0px 0px 0px 1px;
}

.error {
	color: $clr-red;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .page_wrapper {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }
}
.dropdown-toggle {
	&::after {
		margin-left: .455em;
		margin-top: .255em;
	}
}
button, .btn {
	border-radius: 2.5rem;
	font-weight: 600;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	&:focus {
		outline: transparent !important;
	}
}

.btn-border {
	border: 2px solid $clr-green;
	background: transparent;
	&:hover {
		background-color: $clr-green;
	}
}
.custom-file-input {
	cursor: pointer;
}

.primary-btn {
	background: $clr-green;
	border-color: $clr-green;
	&:hover, &:focus, &:active {
		background-color: $clr-green-bright !important;
		color: $clr-black !important;
		border-color: $clr-green-bright !important;
		box-shadow: none !important;
	}
}

h1,h2,h3 {
	font-weight: 600;
}

h1 {
	border-bottom: 1px solid $clr-grey-border;
	padding-bottom: 1rem;
	margin-bottom: 1.5rem;
	padding-top: 3rem;
}

.container {
	max-width: calc(100vw - 6vw);
	margin: auto;
}

.form-control {
	&:focus {
		box-shadow: none;
		border: 1px solid $clr-green;
		background-color: transparent;
	}
}

.page_wrapper {
	padding-bottom: 4rem;
}

.medium-text {
	font-weight: 600;
}
/*=====  checkbox  ======*/
.checkbox {
	position: relative;
	padding-left: 2rem;
	input {
		position: absolute;
		opacity: 0;
		height: 0;
		width: 0;
		&:checked~.checkmark {
			background: $clr-green;
			&:after {
				display: block;
			}
		}
	}
	.checkmark {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		height: 21px;
		width: 22px;
		border: 3px solid $clr-green;
		&:after {
			content: "";
			position: absolute;
			display: none;
			left: 6px;
			top: 2px;
			width: 6px;
			height: 11px;
			border: solid #ffffff;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:hover {
			background: $clr-green;
		}
	}
	input~.checkmark {
		border: 2px solid $clr-green;
	}
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid $clr-green;
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
	transition: background-color 5000s ease-in-out 0s;
}


/*=====  Notifications  ======*/
.alert {
	color: $clr-white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 1rem;
	position: absolute;
	top: 1rem;
	right: auto;
  	left: 50%;
	z-index: 99999;
	transform: translateX(-50%);
	aspect-ratio: 14/2;
	background-color: #32b67a;
	box-shadow: 0px 0px 4px 2px #ccf0e1;
	svg {
		width: 25px;
		height: 25px;
	}
	.alert-close {
		cursor: pointer;
		margin-left: 1rem;
	}
	.alert-message {
		font-weight: 500;
	}
	&.alert-error {
		background-color: #e54b4b;
		box-shadow: 0px 0px 4px 2px #e9d6d6;
	}
	&.alert-success {
		background-color: #32b67a;
		box-shadow: 0px 0px 4px 2px #ccf0e1;
	}
	&.alert-info {
		background-color: #f0cf61;
		box-shadow: 0px 0px 4px 2px #f6edd1;
	}
}

.welcome-page {
  // min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  -webkit-overflow-scrolling: touch;
  .content-wrapper {
    flex: 1;
    display: flex;
    padding-top: 110px;
    aside {
      background-color: #F6F6F6;
      max-width: 324px;
      width: 100%;
      height: calc(100vh - 112px);
      padding: 40px 25px; 
      overflow: auto;
      ul {
        list-style: none;
        max-width: 190px;
        min-width: 190px;
        margin: 0 auto;
        li {
          margin-top: 40px;
          a {
            color: $clr-black-light;
            font-size: 21px;
            text-transform: capitalize;
            text-align: left;
            line-height: 25px;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $clr-black;
            }
            &.selected {
			  color: $clr-black;
			  font-weight: 600;
            }
          }
        }
      }
    }
    .right-content {
      flex: 1;
      padding: 70px 50px 50px;
      max-height: calc(100vh - 112px);
      overflow: auto;
      position: relative;
      
    }
  }
}

.section-head {
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  flex-wrap: wrap;
  border-bottom: 1px solid #dee2e6;
  padding: 10px 0;
  margin-bottom: 40px;
  h2 {
    margin: 0;
  }
  .sec-head-para {
    @include flex(1 1 100%);
    margin-top: 10px;
    line-height: normal;
  }
}

.w-custom-percent {
  max-width: 100%;
  width: 100%;
}

.w-50-percent {
  max-width: 50%;
  width: 100%;
}

.w-60-percent {
  max-width: 60%;
  width: 100%;
}

.w-75-percent {
  max-width: 75%;
  width: 100%;
}

.bg-content {
  padding: 30px 20px 20px;
  border-radius: 7px;
  margin: 15px 0;
  &.yellow {
    background-color: #fdf5db;
  }
  &.bgSecondVersion {
    padding: 20px 20px;
    margin: 0;
  }
}

.mobile-view {
  display: none !important;
}
.desktop-view {
  display: block !important;
}
/********** Breadcrumbs ************/
.asBreadcrumbs {
  .breadcrumb {
    background-color: #f6f6f6;
    .breadcrumb-item {
      color: $clr-black;
      a {
	  	  color: $clr-black;
		  font-weight: normal;
		  &:hover {
          	color: $clr-black;
          	font-weight: 600;
		  }
      }
      &.active {
        font-weight: 600;
      }
    }
  }
}

/**************** Responsiveness ***************/
@media #{$desktop-start} {
	.welcome-page {
    .content-wrapper {
      aside {
        max-width: 250px;
        ul {
          max-width: 100%;
        }
      }
    }
  }
}

@media #{$mid-point-tablet} {
  .mobile-view {
    display: block !important;
  }
  .desktop-view {
    display: none !important;
  }
	.welcome-page {
    overflow-x: hidden;
    overflow-y: auto;
    .content-wrapper {
      padding-top: 70px;
      aside {
        flex: none;
        height: inherit;
        transform: translateX(-100%);
        display: none;
        position: absolute;
        top: 76px;
        width: 250px;
        height: calc(100vh - 76px);
        overflow-y: auto;
        ul {
          max-width: 100%;
        }
      }
      .right-content {
        flex: none;
        max-height: inherit;
        padding: 70px 15px;
        width: 100%;
        height: calc(100vh - 76px);
        overflow-y: auto;
        @include transition(all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940));
      }
      &.launch-sidebar {
        aside {
          display: block;
          -webkit-animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        .right-content {
          margin-left: 250px;
        }
      }
    }
  }
  .next-btn {
    padding-right: 15px;
  }
}

@media #{$phone-landscape} {
  .welcome-page {
    .content-wrapper {
      aside {
        top: 76px;
        ul {
          li {
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
      .right-content {
        padding: 40px 15px;
      }
    }
  }
  .next-btn {
    width: auto;
    @include flexbox;
    @include justify-content(flex-end);
    position: fixed;
    top: unset;
    right: 0;
    bottom: 0;
    padding: 10px 15px;
    z-index: 999;
    a {
      box-shadow: 0px 2px 10px 3px #ccc;
    }
  }
  .musicWrapper, .partnerWrapper {
    .music-playlist, .partner-list {
      .music-row, .partner-row {
        flex-direction: column;
        li {
          width: 100%;
          margin-right: 0;
          &:nth-child(odd) {
            margin-right: 0;
          }
          .album-actions, .partner-actions {
            min-width: 100px;
            margin-left: 7px;
            text-align: right;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

@media #{$phone-portrait} {
  button, .btn {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 14px;
  }
  .welcome-page {
    .content-wrapper {
      aside {
        top: 73px;
        height: calc(100vh - 73px);
      }
      .right-content {
        height: calc(100vh - 73px);
      }
    }
  }
}

/**************** Keyframes ********************/
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
