@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

/*=====  Mixin  ======*/

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}


@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
       -ms-flex-align: $align;
          align-items: $align;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
          -ms-flex: $values;
              flex: $values;
}

/*=====  Variables  ======*/

$clr-green: hsl(68deg, 68%, 51%);
$clr-green-bright: hsl(68deg, 80%, 55%);
$clr-green-dark: #28a745;
$clr-black: hsl(0deg, 0%, 10%);
$clr-white: hsl(0deg, 0%, 100%);
$clr-grey: hsl(0deg, 0%, 54%);
$clr-grey-border: hsl(0deg, 0%, 74%);
$clr-grey-light: #eee;
$body-font-family: 'Raleway', sans-serif;
$clr-red: #dc3545;
$clr-red-light: #e26a6a;
$clr-red-light-extra: #e08283;
$clr-blue: #0f0f0f;
$clr-blue-light: #007bff;
$clr-orange: #ffc107;

/*=====  Generic style  ======*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	color: $clr-black;
	font-family: $body-font-family;
}

button,
input,
select,
label {
	font-family: inherit;
	margin: 0;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none !important;
	}
}

a, .btn {
	transition: all .3s ease;
	color: $clr-black;
	font-family: $body-font-family;
	&.btn-outline-light {
		border-color: $clr-grey-light;
		background-color: transparent;
	}
}

.close-btn {
	box-shadow: rgba(130, 138, 145, 0.5) 0px 0px 0px 1px;
}

.error {
	color: $clr-red;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .page_wrapper {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }
}

button, .btn {
	border-radius: 2.5rem;
	font-weight: 600;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	&:focus {
		outline: transparent !important;
	}
}

.btn-border {
	border: 2px solid $clr-green;
	background: transparent;
	&:hover {
		background-color: $clr-green;
	}
}

.primary-btn {
	background: $clr-green;
	border-color: $clr-green;
	&:hover, &:focus, &:active {
		background-color: $clr-green-bright !important;
		color: $clr-black !important;
		border-color: $clr-green-bright !important;
		box-shadow: none !important;
	}
}

h1,h2,h3 {
	font-weight: 600;
}

h1 {
	border-bottom: 1px solid $clr-grey-border;
	padding-bottom: 1rem;
	margin-bottom: 1.5rem;
	padding-top: 3rem;
}

.container {
	max-width: calc(100vw - 6vw);
	margin: auto;
}

.form-control {
	&:focus {
		box-shadow: none;
		border: 1px solid $clr-green;
		background-color: transparent;
	}
}

.page_wrapper {
	padding-bottom: 4rem;
}

.medium-text {
	font-weight: 600;
}
/*=====  checkbox  ======*/
.checkbox {
	position: relative;
	padding-left: 2rem;
	input {
		position: absolute;
		opacity: 0;
		height: 0;
		width: 0;
		&:checked~.checkmark {
			background: $clr-green;
			&:after {
				display: block;
			}
		}
	}
	.checkmark {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		height: 21px;
		width: 22px;
		border: 3px solid $clr-green;
		&:after {
			content: "";
			position: absolute;
			display: none;
			left: 6px;
			top: 2px;
			width: 6px;
			height: 11px;
			border: solid #ffffff;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:hover {
			background: $clr-green;
		}
	}
	input~.checkmark {
		border: 2px solid $clr-green;
	}
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid $clr-green;
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
	transition: background-color 5000s ease-in-out 0s;
}


/*=====  Notifications  ======*/
.alert {
	color: $clr-white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 1rem;
	position: absolute;
	top: 1rem;
	right: auto;
  	left: 50%;
	z-index: 99999;
	transform: translateX(-50%);
	aspect-ratio: 14/2;
	background-color: #32b67a;
	box-shadow: 0px 0px 4px 2px #ccf0e1;
	svg {
		width: 25px;
		height: 25px;
	}
	.alert-close {
		cursor: pointer;
		margin-left: 1rem;
	}
	.alert-message {
		font-weight: 500;
	}
	&.alert-error {
		background-color: #e54b4b;
		box-shadow: 0px 0px 4px 2px #e9d6d6;
	}
	&.alert-success {
		background-color: #32b67a;
		box-shadow: 0px 0px 4px 2px #ccf0e1;
	}
	&.alert-info {
		background-color: #f0cf61;
		box-shadow: 0px 0px 4px 2px #f6edd1;
	}
}

.welcome-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .content-wrapper {
    flex: 1;
    display: flex;
    aside {
      background-color: #F6F6F6;
      max-width: 324px;
      width: 100%;
      height: calc(100vh - 112px);
      padding: 40px 25px; 
      overflow: auto;
      ul {
        list-style: none;
        max-width: 145px;
        min-width: 135px;
        margin: 0 auto;
        li {
          margin-top: 40px;
          a {
            color: #212121;
            font-size: 21px;
            text-transform: capitalize;
            text-align: left;
            line-height: 25px;
            transition: all 0.3s ease-in-out;
            &:hover {
              font-weight: 600;
              color:#212121;
            }
            &.selected {
              font-weight: 600;
              color:#212121;
            }
          }
        }
      }
    }
    .right-content {
      flex: 1;
      padding: 50px;
      max-height: calc(100vh - 112px);
      overflow: auto;
    }
  }
}

.section-head {
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  flex-wrap: wrap;
  border-bottom: 1px solid #dee2e6;
  padding: 10px 0;
  margin-bottom: 40px;
  h2 {
    margin: 0;
  }
  .sec-head-para {
    @include flex(1 1 100%);
    margin-top: 10px;
    line-height: normal;
  }
}

.w-custom-percent {
  max-width: 100%;
  width: 100%;
}

.w-50-percent {
  max-width: 50%;
  width: 100%;
}

.w-60-percent {
  max-width: 60%;
  width: 100%;
}

.w-75-percent {
  max-width: 75%;
  width: 100%;
}

.bg-content {
  padding: 30px 20px 20px;
  border-radius: 7px;
  margin: 15px 0;
  &.yellow {
    background-color: #fdf5db;
  }
  &.bgSecondVersion {
    padding: 20px 20px;
    margin: 0;
  }
}

/********** Breadcrumbs ************/
.asBreadcrumbs {
  .breadcrumb {
    background-color: #f6f6f6;
    .breadcrumb-item {
      color: #212121;
      a {
	  	  color: #212121;
		  font-weight: normal;
		  &:hover {
          	color: #212121;
          	font-weight: 600;
		  }
      }
      &.active {
        font-weight: 600;
      }
    }
  }
}